@model PresentationLayer.Models.UserUpdateViewModel

@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("Update", "User", FormMethod.Post))
{
    @Html.HiddenFor(model => model.UserId)

    <div>
        @Html.LabelFor(model => model.UserNickName)
        @Html.TextBoxFor(model => model.UserNickName)
    </div>
    <div>
        @Html.LabelFor(model => model.UserName)
        @Html.TextBoxFor(model => model.UserName)
    </div>
    <div>
        @Html.LabelFor(model => model.UserSurname)
        @Html.TextBoxFor(model => model.UserSurname)
    </div>
    <div>
        @Html.LabelFor(model => model.UserDescription)
        @Html.TextBoxFor(model => model.UserDescription)
    </div>
    <div>
        @Html.LabelFor(model => model.UserEmail)
        @Html.TextBoxFor(model => model.UserEmail)
    </div>

    <div>
        @Html.LabelFor(model => model.Password)
        @Html.TextBoxFor(model => model.Password)
    </div>

    <button asp-action="Update" type="submit">Update</button>
}

